// Import page-specific CSS files here.
@import "home";


.articles-box ul{
  // background: green;
  // height: 100vh;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  ul {
    list-style: none;
  }
}
@media (min-width: 1000px) {
   ul{
grid-template-columns: 1fr 1fr ;

}
}
@media (min-width: 1500px) {
   ul{
grid-template-columns: 1fr 1fr 1fr ;

}
}
.pierre_manu {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}
.new-render {
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

 a {

    border-radius: 8px;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 0;
    color: #FFF;
    border: 1px solid #FFF;
    background: #ebd8b7;
    position: relative;
    z-index: 0;
    transition: color 0.5s;
    text-align: center;
    margin-top: 40px;

    &:hover {
      background: #fff;
      color: #ebd8b7;
      border: solid 1px #ebd8b7;
    }
 }
}
.pierre_manu.show {
  pointer-events: auto;
  opacity: 1;
  position: fixed;
  z-index: 1;
}
.pierre {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
   .btn {
    background: #0BC47C;
    border-radius: 8px;
    color: #fff;
    &:hover {
      background: #fff;
      color: #0BC47C;
      border: solid 1px #0BC47C;
    }
  }
}




















.jean_pierre {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}
.jean_pierre.show {
  pointer-events: auto;
  opacity: 1;
}
.jean {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}
.mod_ouv {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}
.mod_ouv.show {
  pointer-events: auto;
  opacity: 1;
}
.mod {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.form-actions input {
  background: #0BC47C;
  opacity: 1;
  margin-bottom: 2em;
  border-radius: 5px;
  color: #fff;
  &:hover {
    opacity: 0.0.8;
    color: white;
  }
}



#close {
  background: #ebd8b7;
  padding: 4px 16px;
  border-radius: 5px;
  color: #fff;
  &:hover {
    opacity: 0.7;
    color: white;
  }
}

#delete-button {
  a{
    background: transparent;
    color: white;
    border: 1px solid white;
  }
  a:hover{
    background: crimson;
    color: white;
  }

}

#infos {
  height: 100px;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  z-index: 33;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
    // transition: .3s ease -background-color;
  }
.infos {
  height: 100px;
  width: 100vw;
  background-color: #ebd8b7;
  position: fixed;
  z-index: 33;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
    // transition: .3s ease -background-color;
  }
@media screen and (min-width: 770px) {
  .icons {
    visibility: hidden;
  }
}










