

<div class="social-links">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/lccoiffureporticcio/?hl=fr"><i class="fab fa-instagram"></i></a>
        <a href="https://www.pinterest.fr/"><i class="fab fa-pinterest"></i></a>
        <% if user_signed_in? %>
        <%= link_to  destroy_user_session_path, method: :delete do %>
        <i class="fas fa-cut"></i>
        <% end %>
        <% else %>
        <%= link_to new_user_session_path do %>
        <i class="fas fa-cut"></i>
        <% end %>
        <% end %>

</div>
