 <div id="sideNav">
  <nav class="nav-bar">
    <ul>
      <li><a href="#banner">Accueil</a></li>
      <li><a href="#feature">Présentation</a></li>
      <li><a href="#service">Photos</a></li>
      <li><a href="#testimonial">Avis</a></li>
      <li><a href="#footer">Contact</a></li>
    </ul>
  </nav>
</div>
<div id="menuBtn">
</div>
