<div id="sideNav">
  <nav class="nav-bar">
    <ul>
      <li><a href="#banner">Accueil</a></li>
      <!-- <li><a href="#banner">Accueil</a></li> -->
      <li><a href="#feature">Présentation</a></li>
      <li><a href="#service">Photos</a></li>
      <li><a href="#testimonial">Avis</a></li>
      <li><a href="#footer">Contact</a></li>
    </ul>
  </nav>
</div>
<div id="menuBtn">
</div>
<div class="banner-blog">
  <%= image_tag "banner.jpg" %>
  <%= link_to root_path do %>
  <h1><span>LC</span> Coiffure</h1>
  <% end %>
  <hr>
  <p>Salon de Coiffure mixte situé à Porticcio en Corse du Sud est heureux de vous souhaitez la Bienvenue
  </p>
</div>
<div class="banner-blog-logo-call">


  <a href="tel:+33685143723"><%= image_tag "phone.png" %></a>

</div>










