<div id="sideNav">
  <nav class="nav-bar">
    <ul>
      <li><a href="#banner">Accueil</a></li>
      <!-- <li><a href="#banner">Accueil</a></li> -->
      <li><a href="#feature">Présentation</a></li>
      <li><a href="#service">Photos</a></li>
      <li><a href="#testimonial">Avis</a></li>
      <li><a href="#footer">Contact</a></li>
    </ul>
  </nav>
</div>
<div id="menuBtn">
</div>
<div class="banner-blog">
  <%= image_tag "banner.jpg" %>
</div>
<div class="banner-blog-logo-call">
  <%= link_to root_path do %>
  <%= image_tag "lc-logo-ex.png" %>
<% end %>

  <a href="tel:+33685143723"><%= image_tag "phone.png" %></a>
</div>





