<div id="sideNav">
      <nav class="nav-bar">
        <ul>
          <li><a href="#banner">Accueil</a></li>
          <!-- <li><a href="#banner">Accueil</a></li> -->
          <li><a href="#feature">Présentation</a></li>
          <li><a href="#service">Photos</a></li>
          <li><a href="#testimonial">Avis</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div id="menuBtn">
    </div>
<h1>blog page</h1>
<a href= "/articles/new" ><span></span>ajouter une photo</a>
<br>
<%= link_to "retour", root_path  %>

<%#= link_to "ajouter une photo", new_article_path  %>

<!-- Feature start -->
<ul>
  <% @articles.each do |article| %>
  <li>
    <%= article.title %>
    <br>
    <%= article.description %>
    <%= link_to "delete", article ,method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>

  <% end %>
</ul>
<!-- Feature end -->
